/* You can add global styles to this file, and also import other style files */
*,
html {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --clr-body-bg: #fff;
  --clr-text: #000;
  --clr-text-tile: #fff;
  --clr-border: #d3d6da;
  --clr-border-cur: #878a8c;
  --clr-tile-wrong: #787c72;
  --clr-tile-half: #c9b458;
  --clr-tile-right: #6aaa64;
}

body {
  background: var(--clr-body-bg);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}